@model GestionDVDs.Models.Messages

@{
    ViewData["Title"] = "Details";
}

<div>
    <h3>Details du message</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpediteurId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpediteurId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecipientId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecipientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TempsExpedition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TempsExpedition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sujet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sujet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Corps)
        </dt>
        <dd>
            <textarea asp-for="Corps" class="form-control" rows="6" maxlength="200" readonly="readonly">@Html.DisplayFor(model => model.Corps)</textarea>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Retour a la boite au lettre</a>
</div>
