@model IEnumerable<GestionDVDs.Models.Messages>

@{
    ViewData["Title"] = "Boite au lettres";
}

<h3>Boite au lettres</h3>

<p>
    <a asp-action="Create">Composer un nouveau message</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpediteurId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sujet)
            </th>
            <th>
                Temps d'expedition
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpediteurId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sujet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempsExpedition)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MessageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MessageId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
