@model GestionDVDs.Models.Films

@{
    ViewData["Title"] = "Supprimer";
}

<h3>Êtes-vous certains de vouloir supprimer ce film?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnneeSortie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnneeSortie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateMaj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateMaj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DureeMinutes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DureeMinutes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilmOriginal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilmOriginal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagePochette)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePochette)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NbDisques)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NbDisques)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TitreFrancais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TitreFrancais)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TitreOriginal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TitreOriginal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VersionEtendue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VersionEtendue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Xtra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Xtra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategorieNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategorieNavigation.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormatNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormatNavigation.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Producteur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Producteur.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Realisateur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Realisateur.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UtilisateurMaj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UtilisateurMaj.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FilmId" />
        <input type="submit" value="Supprimer" class="btn btn-default" /> |
        <a asp-action="Index">Retourner vers le catalogue</a>
    </form>
</div>
